In [ ]:
%%capture
!pip install otter-grader

files = "https://github.com/mateuszwyszynski/python_basics/raw/main/week_7/tests.zip"
!wget -O ./tests.zip $files && unzip -o tests.zip

import otter
grader = otter.Notebook(colab = True)
!git clone https://github.com/mateuszwyszynski/python_basics.git

# **Podstawy DataFrame oraz Pandas**

Na dzisiejszych zajęciach dowiesz się w jaki sposób można wczytać dane z excela do Pythona przy pomocy Colaba. Nauczysz się w jaki sposób można przygotować wczytane dane do przeprowadzenia analizy, przeprowadzisz analizę danych, a na koniec będziesz w stanie porównać otrzymane wyniki.

Zanim jednak przejdziemy do pracy na danych musisz zapoznać się z narzędziem, którego będziemy używali. Biblioteka Pandas została stworzona do tego, aby zastąpić takie narzędzia jak Excel czy SQL i im podobne. Korzystając z tej biblioteki jesteśmy w stanie wczytać dane, dokonać ich weryfikacji, a następnie modyfikacji i następnie wykorzystać jej zasoby do analizy danych. W celu użycia biblioteki Pandas wystarczy jedna linijka importu i będziemy w stanie korzystać z jej zasobów.

`import pandas as pd`

Podstawowy typ danych, z którego korzysta biblioteka Pandas to `Series` możesz utożsamiać to z danymi zawartymi w kolumnie tak jak ma to miejsce w programach z rodziny arkuszy obliczeniowych takich jak Excel, Numbers, czy LibreOffice Calc. Ten typ danych definiuje się w sposób następujący:
```
kolumna = pd.Series([1,2,3,4,5,6,7,8,9,10])
```
Przejdźmy od razu to aspektu praktycznego. Zaimportujmy sobie bibliotekę Pandas i stwórzmy zmienną `kolumna` zgodnie z przykładem.

In [ ]:
import pandas as pd
kolumna = pd.Series([1,2,3,4,5,6,7,8,9,10])
print(kolumna)

Jak możesz zauważyć, udało Ci się stworzyć zmienną `kolumna`, która jest 'kolumną' wartości, wewnątrz niej zmienne znajdują się jedna pod drugą. Po lewej stronie naszych wartości możesz dostrzec liczby od 0 do 9 reprezentują one kolejne wiersze naszej zmiennej. W Pythonie numeracja wierszy **zaczyna się od 0**. `dtype: int64` znaczy tylko tyle, że nasza kolumna ma wartości całkowite (ang. *integer*). Teraz w łatwy sposób zobaczysz jak można poprosić Pythona o wypisanie wartości w wybranym przez Ciebie wierszu. 
```
wartosc_w_5_wierszu = kolumna[4]
```

In [ ]:
wartosc_w_5_wierszu = kolumna[4]
print(wartosc_w_5_wierszu)

## Zadanie1 [1 pkt]

Napisz funkcję, która zwróci sumę 3, 5 i 7 wiersza zmiennej typu 'Series' (zadbaj o to, żeby taka zmienna miała przynajmniej 8 elementów - w końcu odwołujemy się do 7. wiersza w indeksowaniu 'pythonowym', czyli właśnie do 8. elementu). Poniżej zostaną zaproponowane dane do weryfikacji działania twojej funkcji.

In [ ]:
def suma_wierszy(zmienna_typu_series):
    ...

In [ ]:
#zmienne do przetestowania

test1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
test2 = pd.Series([10,20,30,40,50,60,70,80])
test3 = pd.Series([-1,-2,-3,-4,-5,-6,-7,-8,-9,-10])
print(suma_wierszy(test1))
print(suma_wierszy(test2))
print(suma_wierszy(test3))

In [ ]:
grader.check("Q1")

Zmienne typu `Series` podlegają całej gamie podstawowych operacji arytmetycznych. Każda z takich operacji wykonywana jest na każdym elemencie zmiennej osobno. Możemy do danych dodać lub odjąć liczbę, możemy dane w naszej kolumnie pomnożyć lub podzielić przez liczbę czy nawet podnieść do odpowiedniej potęgi. Poniżej znajdują się przykłady wymienionych operacji.

In [ ]:
print(kolumna)

In [ ]:
print(kolumna + 10)

In [ ]:
print(kolumna - 10)

In [ ]:
print(kolumna * 10)

In [ ]:
print(kolumna / 10)

In [ ]:
print(kolumna ** 2)

## DataFrame
W tym momencie przejdziemy dalej z typami zmiennych w bibliotece Pandas. Kolejnym typem zmiennych, prawdopodobnie najważniejszym jeśli chodzi o te zajęcia jest `DataFrame`, który należy utożsamiać po prostu z tabelką danych, analogicznie do tych, które znacie z Excela. W przybliżeniu możemy przyjąć, że `DataFrame` to wiele `Series` połączonych w jeden typ zmiennej. Wcześniejsze operacje są nadal aktualne, ale dochodzi nam wiele nowych operacji, które postaramy się Ci przedstawić w dalszej części tego notatnika.

Stwórzmy sobie teraz przykładowy `DataFrame` i zacznijmy z nim przygodę.

Na podstawie wcześniejszych operacji arytmetycznych stwórzmy sobie zmienne ( `kolumna1`, `kolumna2`, `kolumna3`, `kolumna4`, `kolumna5`), które odpowiednio będą reprezentowały zmienna `kolumna` do której odpowiednio dodamy/odejmiemy 10, pomnożymy/podzielimy przez 10 i ostatnia, która reprezentuje wartości z `kolumna` podniesione do potęgi 10

In [ ]:
kolumna1 = kolumna + 10
kolumna2 = kolumna - 10
kolumna3 = kolumna * 10
kolumna4 = kolumna / 10
kolumna5 = kolumna ** 10

Kolejnym etapem naszej pracy jest stworzenie pustej tablicy (`DataFrame`) z nazwami kolumn tożsamymi z nazwami naszych zmiennych. W tym celu posłużymy się następującym fragmentem kodu:
```
pd.DataFrame(columns = ['nazwa1', 'nazwa2', ..., 'nazwan'])
```
Tak przygotowana zmienna ( zazwyczaj nazywana `df`) będzie pustym `DataFrame` z nazwanymi przez nas kolumnami.

In [ ]:
df = pd.DataFrame(columns = ['kolumna', 'kolumna1', 'kolumna2', 'kolumna3', 'kolumna4', 'kolumna5'])
print(df)

Ostatnim krokiem w tworzeniu `DataFrame` od podstaw jest przypisanie kolumną wartości, które chcemy żeby się w nich zawarły. Robi się to w następujący sposób:
```
df['nazwa_kolumny'] = pd.Series([a,b,c,d,....,x,y,z])
``` 

Ponieważ my już wcześniej przygotowaliśmy sobie zmienne typu `Series` możemy to zrobić w sposób dużo łatwiejszy.

In [ ]:
df['kolumna'] = kolumna
df['kolumna1'] = kolumna1
df['kolumna2'] = kolumna2
df['kolumna3'] = kolumna3
df['kolumna4'] = kolumna4
df['kolumna5'] = kolumna5
print(df)

Teraz w razie potrzeby wywołując taki fragment kodu `df['kolumna']` na ekranie komputera wyświetli ci się zawartość tylko kolumny o nazwie `kolumna`, a nie cała tablica.

Podobnie jak w przypadku `Series` tak i w przypadku `DataFrame` operacji arytmetycznych wyglądają tak samo biorąc poprawkę, że teraz np. w przypadku dodawania dodamy `x` do każdej wartości w każdej z kolumn. Jeśli chcielibyśmy np. odjąć wartość 5 od zawartości wybranej kolumny to można to uczynić w sposób następujący:
```
df['nazwa_kolumny'] = df['nazwa_kolumny'] - 5
```
Spróbuj teraz swoich sił w zadaniu poniżej.

## Zadanie2 [1 pkt]

Napisz funkcję (`nowy_df(zmienna_typu_series, liczba)`), która zwróci zmienną typu `DataFrame` o 6 kolumnach odpowiednio (`kol`, `kol1`, `kol2`, `kol3`, `kol4`, `kol5`)  gdzie każda z kolumn poza `kol` to odpowiednio wynik dodania, odjęcia, pomnożenia, podzielenia i podniesienia do potegi `zmienna_typu_series` i `liczb` będących argumentami funkcji. Poniżej zostaną zaproponowane dane do weryfikacji działania twojej funkcji.

In [ ]:
def nowy_df(zmienna_typu_series, liczba):
    
    kol1 = ...
    kol2 = ...
    kol3 = ...
    kol4 = ...
    kol5 = ...

    df_zad2 = ...
    ...
    ...
    ...
    ...
    ...
    ...

    return df_zad2

In [ ]:
#zmienne do przetestowania

test1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
test2 = pd.Series([10,20,30,40,50,60,70,80])
test3 = pd.Series([-1,-2,-3,-4,-5,-6,-7,-8,-9,-10])
print(nowy_df(test1, 1))
print()
print(nowy_df(test2, 2))
print()
print(nowy_df(test3, 3))

In [ ]:
grader.check("Q2")

## Zapisywanie i Wczytywanie

Teraz jesteśmy już w stanie przejść do pierwszej czynności, która towarzyszy każdej pracy z danymi, a mianowicie z wczytaniem danych. Tą operację można przeprowadzić na wiele sposobów. Można wczytywać różne pliki i następnie zamieniać je `DataFrame`. Na tych zajęciach skupimy się jednak tylko na plikach o rozszerzeniu .xlsx odpowiadającym plikom zapisywanym w Excelu. 

Najpierw przetestujmy wczytywanie danych z naszego lokalnego dysku, ale zanim będzie to możliwe musimy tam coś posiadać. Tu z pomocą przychodzi nam operacja zapisywania `DataFrame` do pliku .xlsx. Można do zrobić w nastęþujący sposób:
```
df.to_excel('nazwa_pliku.xlsx')
```

Mamy już na naszym notatniku zmienną o nazwie `df`, spróbujmy ją teraz zapisać a następnie wczytać przy pomocy polecenie:
```
df_wczytane = pd.read_excel('nazwa_pliku.xlsx')
```

In [ ]:
df.to_excel('moj_dataframe.xlsx')

Po wywołaniu powyższej linijki kodu nasz `DataFrame` powinien się zapisać na twoim dysku google. Możesz to sprawdzić klikając w lewym panelu Colaba na znaczek `files` tak jak w przykładzie na zdjęciu. Plik o nazwie `moj_dataframe.xlsx` powinien być widoczny. Teraz pobierz ten plik na swój lokalny komputer klikając na 'trzy kropki' obok niego. Zmień nazwę pliku na `moj_dataframe_pc.xlsx` na komputerze i nowo utworzony plik przeciągnij/wgraj do Colaba. Jeśli Ci się to uda to powinieneś ujrzeć oba pliki na ekranie, tak jak na załączonym zdjęciu. Czasem, żeby to zauważyć może być potrzeba kliknąć prawym przycikiem myszy na puste pole i kliknięcie `Refresh`.

![](https://drive.google.com/uc?export=view&id=1sP0BsyhwcH8e4mAhNVmS3Bs8D7qkqJPG)

 Teraz mając plik `moj_dataframe_pc.xlsx` wgrany na dysk możemy go wczytać do Colaba. Polecenie niezbędne do wczytania excelowego pliku .xlsx wygląda następująco:
 ```
 pd.read_excel('nazwa_pliku.xlsx')
 ```

 Więcej informacji na temat wczytywania (https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) i zapisywania(https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html) znajdziesz w dołączonych linkach.

In [ ]:
df_wczytane = pd.read_excel('moj_dataframe_pc.xlsx')
print(df_wczytane)

Jak możesz zauważyć nasz nowo wczytany `DataFrame` różni się od zapisanego. Pojawiła się nowa kolumna o nazwie `Unnamed: 0 ` zawiera ona w sobie wartości od 0 do 9. Z pewnością jak się domyślasz jest to kolumna indexów. W związku z czym w przypadku wczytywania gotowego `DataFrame` program nie musi tworzyć nowej kolumny indexów. W trakcie wczytywania pliku .xlsx możemy dodać flagę `index_col=0`, dzięki czemu program wie, że w pierwszej kolumnie znajdują się indexy. Sprawdź to uruchamiając poniższy fragment kodu.

In [ ]:
df_wczytane_z_flaga = pd.read_excel('moj_dataframe_pc.xlsx', index_col=0)
print(df_wczytane_z_flaga)

---
---
Od teraz zaczynamy wykonywać czynności, które w istotny sposób mogą Ci się przydać podczas wczytywania i używania własnych danych. My wczytamy teraz dane z excela przygotowane na potrzeby tych zajęć. W tym celu wywołaj poniższy fragment kodu.

In [ ]:
df_zajecia = pd.read_excel("python_basics/data/dane_kraje.xlsx")

Skupimy się teraz na pracy z danymi. 

Zazwyczaj na początku chcemy obejrzeć nasze dane. Spróbujmy więc teraz wyświetlić to co wczytaliśmy. Najprostszy sposób to wywołanie komórki z samą nazwą naszego `DataFrame` bez polecenia `print`. Po uruchomieniu takiej komórki wyświetli się nam tabelka z danymi. Zobaczymy nazwy kolumn, kilka przykładowych wierszy (kilka z początku i kilka z końca), a w lewym dolnym rogu zobaczymy wymiar naszej tablicy. W tym przypadku ma ona 202 wiersze oraz 8 kolumn.

In [ ]:
df_zajecia

Przydatnymi narzędziami przy wyświetlaniu danych są funkcje `.head(X)` i `.tail(X)`, które to w zależności od podanego argumentu, który odpowiada za liczbę wyświetlanych wierszy wypisują na ekranie odpowiednio pierwsze/ostatnie X wierszy z naszego `DataFrame`.

In [ ]:
df_zajecia.head(10)

In [ ]:
df_zajecia.tail(3)

Innym ważnym aspektem pracy na wczytywanych danych jest możliwość poznania nazw każdej z kolumn. Jest to niezbędne do prawidłowego wywoływania poszczególnych wartości z naszej tablicy. Tu z pomocą przychodzi nam zmienna wywoływana przy pomocy `.columns`, która to wyświetla nazwy kolumn zaczynając od lewej strony naszej tablicy, aż do jej końca.

In [ ]:
df_zajecia.columns

Następnie wartościową informacją jest rozmiar(wymiar) naszej tablicy. Warto wiedzieć ile wierszy i kolumn posiada nasz `DataFrame`. Możemy się tego dowiedzieć przy pomocy atrybutu `.shape`, która zwraca nam `(liczba_wierszy, liczba_kolumn)`.

In [ ]:
df_zajecia.shape

W łatwy sposób jesteśmy w stanie rozdzielić te dwie informacje.

In [ ]:
liczba_wierszy = df_zajecia.shape[0] 
liczba_kolumn = df_zajecia.shape[1]

print('liczba wierszy: ', liczba_wierszy,', liczba kolumn: ', liczba_kolumn)

# Zadanie3 [1 punkt]

Napisz funkcję, która jako argument przyjmuje cały dataframe, a zwraca liczbę 'komórek', które mamy w dataframie. Przykładowo, poniższy dataframe ma 8 komórek.

In [ ]:
df_zajecia.iloc[:2, :4]

In [ ]:
def liczba_komorek(dataframe):
    ...
    pass

In [ ]:
grader.check("Q3")

---
Zanim jeszcze rozpoczniemy pracę nad naszymi danymi warto wiedzieć z czym przyjdzie nam się zmagać. Warto w tym celu użyć funkcji `.dtypes`, która poda jakie typy zmiennych znajdują się w każdej z kolumn.

In [ ]:
df_zajecia.dtypes

Widzimy, że typ niektórych zmiennych to `object`, a niektórych to `float64`. W pierwszym przypadku oznacza to, że wartości są tam przechowywane najprawdopodobniej w formacie napisu (`str` lub podobne, nie wchodzimy tutaj w szczegóły). Drugi przypadek natomiast oznacza, że zmienne w takiej kolumnie są przechowywane jako liczby rzeczywiste. Informacje możesz znaleźć również w tabelce poniżej.

![](https://drive.google.com/uc?export=view&id=1Vx495G47Q3khoBA2XIZV-Z-jeUIi9OOl)

Może się zdażyć, że kolumna, która powinna zawierać liczby zostanie wczytana w typie `object`. Problem może się brać np. z tego, że wartości w tych kolumnach zostały wczytane jako napisy już w Excelu.

Taka sytuacja jest niepożada, ponieważ na takich kolumnach możemy mieć z problem z wykonywaniem operacji arytmetycznych, dlatego pokażemy teraz, jak zamienić te kolumny na typ, jaki uważamy za stosowny, w tym przypadku będzie to `float64`, który reprezentuje liczby rzeczywiste.

In [ ]:
df_zajecia['Intelligence quontient'] = df_zajecia['Intelligence quontient'].astype('float64') # przyklad zamiany typu zmiennej na float (liczby rzeczywiste)

---
Zajmijmy się teraz pracą nad naszą tablicą. Czasami zdarza się tak, że chcemy nadać robocze nazwy naszym kolumną np. po to żeby łatwiej się nam na nich pracowało. W tym celu z pomocą przychodzi nam funkcja `.rename(columns={'stara_nazwa': 'nowa_nazwa', 'stara_nazwa2': 'nowa_nazwa2'})`, która to w łatwy sposób pozwala nam na zmianę obecnych nazw kolumna na nowe.

In [ ]:
df_zajecia.rename(columns={'Country': 'Kraj', 'Intelligence quontient': 'Intell_quo'})
print(df_zajecia.columns)

Kolejną przydatną funkcją może okazać się `.drop(['nazwa', 'nazwa1'], axis=1, inplace=True)`, która to umożliwi usunięcie wybranych kolumn z naszej tabeli. Flaga `axis=1` potrzebna jest do tego, żeby funkcja wiedziała, że zajmuje się kolumnami, natomiast `inplace=True` podmienia nam zawartość starej tablicy na nową bez wybranych kolumn.

In [ ]:
df_zajecia_drop = df_zajecia.drop(['Country', 'Average temperature'], axis=1)
print('Nazwy kolumn przed usunieciem wybranych kolumn:\n', df_zajecia.columns)
print('i po:\n', df_zajecia_drop.columns)
df_zajecia.drop(['Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15'],axis=1, inplace=True)

Wiesz już jak można usunąć kolumny, które wydają Ci się być niepotrzebne. Czasami bywa tak, że w danych nad którymi obecnie pracujesz pojawiają się `NaN, NA, #N/A`, które należy utożsamiać z `Not a Number` lub `Not Available`. Oznacza to, że w naszych danych dla danego kraju z jakiegoś powodu nie mamy wartości danego wskaźnika (np. nie został on zmierzony albo widzimy, że przy przepisywaniu został zmierzony źle - ktoś mógł chociażby w złym miejscu wstawić przecinek). Może to powodować niepoprawne działanie twojego kodu jeśli nie jesteś przygotowany na uwzględnienie tego w swoich danych.

Biblioteka Pandas jest gotowa na znajdowanie takich obiektów oraz na różnego typu działania z nimi związanymi. Najpierw postarajmy się znaleźć wszystkie wystąpienia `NaN` w naszym `DataFrame`. Można to zrobić przy pomocy funkcji `.isna()`, którą należy rozbudować o `.any(axis=1)`, żeby znaleźć wszystkie wystąpienia w tablicy.

In [ ]:
df_zajecia[df_zajecia.isna().any(axis=1)]

Jak możesz zauważyć całkiem sporo wystąpień `NaN` jest obecnych w naszej tablicy. Najłatwiejszym sposobem będzie usunięcie wszystkich wierszów z taką wartością, w tym celu użyjemy `.dropna()`. Alternatywnym rozwiązaniem jest zamiana wszystkich `NaN` na np. 0, co można wykonać przy pomocy funkcji `.fillna(0)`. Sprawdźmy teraz jak to działa:

In [ ]:
df_zajecia_kopia = df_zajecia.dropna()
df_zajecia_kopia.shape

Jak widzisz nie ma już w naszej tablicy żadnych `NaN`, wszystkie wiersze zostały usunięte dlatego rozmiar tablicy się zmniejszył o liczbę usuniętych wierszy.

In [ ]:
df_zajecia_kopia_2 = df_zajecia.fillna(0)
df_zajecia_kopia_2.shape

W przypadku podmiany `NaN` na 0 rozmiar tablicy nie ulega zmianie.

## Zamiana typów zmiennych

## Zamiana zmiennej tekstowej na zmienną binarną

W naszych plikach możemy również mieć zmienne binarne - to takie zmienne, które przyjmują tylko 2 wartości. Przykładem takiej zmiennej w naszej tabelce jest kolumna `Developing?`. Przy pomocy funkcji `.unqiue()` możemy sprawdzić, jakie wartości przyjmuje taka kolumna. W tym przypadku będą to napisy `Developing`, jeśli kraj jest uznawany jako rozwijający się oraz `Developed` w przypadku krajów, które uznajemy za rozwinięte.

In [ ]:
df_zajecia['Developing?'].unique()

Wartościami w naszej kolumnie są napisy - warto jednak zwrócić uwagę, że komputery operują na liczbach, dlatego chcielibyśmy zamienić te napisy na liczby. Najczęściej wykonywaną operacją jest zamiana odpowiednich napisów na 0 i 1. W naszym przypadku, państwo, które było `Developing` otrzyma liczbę 0, natomiast państwo `Developed` liczbę 1. Jako, że ta kolumna wcześniej przechowywała napisy, musimy również ręcznie zamienić jej typ na liczbowy - w tym wypadku będzie to `int`, ponieważ interesują nas tylko liczby całkowite (jakimi są 0 i 1).

In [ ]:
df_zajecia['Developing?'][df_zajecia['Developing?'] == 'Developing'] = 0
df_zajecia['Developing?'][df_zajecia['Developing?'] == 'Developed'] = 1
df_zajecia['Developing?'] = df_zajecia['Developing?'].astype('int') # zmiana typu na calkowitoliczbowy

Teraz możemy sprawdzić, że jedyne wartości w omawianej kolumnie to 0 i 1.

In [ ]:
df_zajecia['Developing?'].unique()

---
Przy próbie analizy naszych danym nieodzownym narzędziem wydaje się zastosowanie funkcji `.describe()`, która to zwraca nam: ilość pozycji w kolumnie (count), średnią wartość w kolumnie (mean), odchylenie standardowe w kolumnie (std), wartość minimalną w kolumnie (min), 25/50/75 percentyl w kolumnie (25/50/75 %) oraz wartość maksymalną w kolumnie (max). Sprawdźmy to na naszej tablicy, którą stworzyliśmy na początku notatnika (df).

In [ ]:
df.describe()

Zastosujmy teraz tą funkcję do tablicy, którą wczytaliśmy na potrzeby tych zajęć(df_zajecia).

In [ ]:
df_zajecia.describe()

Jak możesz zauważyć statystyki zostały wypisane tylko dla tych kolumn w których znajdują się tylko 'liczby' (nie ma tu kolumny `Country`). Oczywiście można każdy z tych parametrów wyliczyć w sposób indywidualny dla każdej z kolumn. Poniżej można zobaczyć jak można to zrobić.

In [ ]:
max_kolumna = df_zajecia['Intelligence quontient'].max()
min_kolumna = df_zajecia['Intelligence quontient'].min()
std_kolumna = df_zajecia['Intelligence quontient'].std()
mean_kolumna = df_zajecia['Intelligence quontient'].mean()
count_kolumna = df_zajecia['Intelligence quontient'].count()

print("Max w kolumnie ", max_kolumna, ' Min w kolumnie ', min_kolumna, ' STD z kolumny ', std_kolumna, ' Srednia z kolumny ', mean_kolumna, 'Ile liczb w kolumnie ', count_kolumna)

Te same funkcje można też wykorzystać do wyznaczenia statystyk całych tablic z rozróżnieniem na poszczególne kolumny. Spójrz do fragmentu kodu poniżej.

In [ ]:
max_tab = df.max()
min_tab = df.min()
std_tab = df.std()
mean_tab = df.mean()
count_tab = df.count()

print("Max w tablicy ", max_tab, '\nMin w tablicy ', min_tab, '\nSTD z tablicy ',
      std_tab, '\nSrednia z tablicy ', mean_tab, '\nIle liczb w tablicy ', count_tab)

---
Przypomnijmy sobie, jak wyglądają nasze dane.

In [ ]:
df_zajecia

Widzimy, że różne zmienne mają różne rzędy wielkości. Przy dalszym wnioskowaniu może to skutkować niepożądanymi zachowaniami (np. jedna zmienna może zdominować wszystkie pozostałe). Dlatego częstą praktyką w takim przypadku jest normalizacja zmiennych. Taką czynność można wykonać na wiele sposobów, w naszym przypadku użyjemy prostego skalowania - każdą kolumnę przekształcimy w taki sposób, aby największa wartość wynosiła 1, a najmniejsza 0. W ten sposób wszystkie wartości znajdą się w przedziale $[0,1]$. Normalizację wykonujemy osobno dla każdej kolumny. Zauważ, że nie ma sensu normalizować zmiennej binarnej `Developing?` - w niej już występują tylko 0 i 1.

Wzorek, za pomocą którego możemy znormalizować daną kolumnę wygląda następująco:
$z_i = \frac{x_i - min(x)}{max(x)-min(x)}$, gdzie $min(x)$ oraz $max(x)$ to odpowiednio najmniejsze i największe wartości w danej kolumnie, $x_i$ to $i$-ta obserwacja przed znormalizowaniem, a $z_i$ to znormalizowana $i$-ta obserwacja. Została do tego przygotowana funckja, którą możecie zobaczyć poniżej. Dodatkowo stworzymy to w nowym dataframie, na którym wcześniej pozbywamy się wartości NA/NaN (jak to było to omówione wyżej).

In [ ]:
def normalize(df_col):
    return (df_col-df_col.min())/(df_col.max()-df_col.min())

In [ ]:
df_zajecia_norm = df_zajecia.dropna()
df_zajecia_norm['Intelligence quontient'] = normalize(df_zajecia['Intelligence quontient'])
df_zajecia_norm['Expected years of schooling'] = normalize(df_zajecia['Expected years of schooling'])
df_zajecia_norm['Average temperature'] = normalize(df_zajecia['Average temperature'])
df_zajecia_norm['GDP (PPP) per capita'] = normalize(df_zajecia['GDP (PPP) per capita'])
df_zajecia_norm['Fertility rate per woman'] = normalize(df_zajecia['Fertility rate per woman'])
df_zajecia_norm['PPPwzg'] = normalize(df_zajecia['PPPwzg'])

In [ ]:
df_zajecia_norm # znormalizowane

Jeśli spojrzymy na statystyki opisujące nasze dane to zobaczymy, że w tym przypadku w każdej kolumnie minimalna wartość to 0, a maksymalna to 1.

In [ ]:
df_zajecia_norm.describe()

Teraz pokażemy, w jaki sposób można uszeregować państwa - policzyć pewne wskaźniki, wg. których można porównać ze sobą państwa. Jednym z takich wskaźników może być średnia ważona: $\bar{x} = \frac{w_1x_1 + w_2x_2 + \dots + w_nx_n}{w_1+w_2+\dots w_n}$, gdzie $w_1, w_2, \dots, w_n$ to nieujemne wagi, natomiast $x_1, x_2, \dots, x_n$ to wartości w kolejnych kolumnach (których jest $n$, w naszym przykładzie $n=7$, gdyż pierwsza kolumna to nazwy krajów). Taką średnią liczymy oddzielnie dla każdego kraju.

In [ ]:
liczba_kolumn = df_zajecia_norm.shape[1] # zapiszmy liczbe interesujacych nas kolumn
df_zajecia_norm_do_liczenia = df_zajecia_norm.drop('Country', axis=1) # zapiszmy tu kolumny, na ktorych bedziemy liczyc srednia (czyli bez nazw krajow)

In [ ]:
def srednia_wazona(dataframe_do_liczenia, wagi):
    licznik = (dataframe_do_liczenia*wagi).sum(axis=1)
    mianownik = sum(wagi)
    return licznik/mianownik

Wagi arbitralnie ustalam: $w_1 = 1, w_2 = 1.5, w_3 = 0.5, w_4 = 3, w_5 = 2.5, w_6 = 0.1, w_7 = 0.75$. Wtedy taką średnią liczymy w następujący sposób:

In [ ]:
moje_wagi = [1, 1.5, 0.5, 3, 2.5, 0.1, 0.75] # wagi mozemy zapisac wewnatrz nawiasow kwadratowych - tworzymy w ten sposob liste, o której dowiecie się więcej w dalszej czesci kursu

W ten sposób dostaliśmy nową kolumnę `srednia_wazona`, co możemy zobaczyć poniżej.

In [ ]:
df_zajecia_norm['srednia_wazona'] = srednia_wazona(df_zajecia_norm_do_liczenia, moje_wagi)
df_zajecia_norm

Aby zobaczyć uszeregowane państwa od najwyższej wartości tej średniej użyjemy funkcji `.sort_values()`, która jako argument przyjmuje nazwę kolumny, względem której chcemy posortować nasz dataframe, z dodatkową flagą `ascending=False`, dzięki której dostaniemy wyniki uszeregowane malejąco.

In [ ]:
df_zajecia_norm.sort_values('srednia_wazona', ascending=False)

Widzimy, że pierwszą trójkę tworzą `Qatar`, `Singapore` oraz `Brunei`. Zobaczmy co się stanie, gdy wybierzemy inne wagi do liczenia średniej.

In [ ]:
moje_nowe_wagi = [2, 0.5, 1.5, 2, 0.1, 3, 1.5]
df_zajecia_norm['srednia_wazona_nowa'] = srednia_wazona(df_zajecia_norm_do_liczenia, moje_nowe_wagi)
df_zajecia_norm.sort_values('srednia_wazona_nowa', ascending=False)

Jak widzimy, wybór wag do liczenia średniej ma istotny wpływ na końcowy rezultat. Tym razem pierwszą trójkę tworzą `Singapore`, `Australia` oraz `Israel`. Oczywiście ważny jest wybór zmiennych - u nas ta średnia bierze pod uwagę zarówno PKB, dzietność kobiet jak i średnią temperaturę, nie należy do tych wyników przywiązywać większej uwagi.

# Zadanie 4 [2 punkty]
Napisz funkcje, ktora przyjmuje jako argumenty caly dataframe (zakladamy, że ma kolumnę `Country`) oraz nazwę kolumny. Funkcja ta powinna zwrócić nazwę państwa, dla którego wartość w podanej kolumnie jest najmniejsza. Przykładowo dla `panstwo_najnizej(df_zajecia_norm, 'Average temperature')` funkcja powinna zwrócić `Canada`, ponieważ w naszym zbiorze najmniejsza średnia temperatura jest w tym państwie. 

Wskazówka: przydatny może być argument `ignore_index` ustawiony na `True` w funkcji `.sort_values`.

In [ ]:
def panstwo_najnizej(dataframe, nazwa_kolumny):
    moj_df = ...
    return moj_df['Country'][0]

In [ ]:
# te komorke uruchom i sie nia nie przejmuj, zostala stworzona do autogradera
df_test = pd.DataFrame(columns = ['Country', 'kolumna1', 'kolumna2'])
df_test['Country'] = ['Canada', 'Ukraine', 'Germany', 'Poland']
df_test['kolumna1'] = [0.2, 3, 0.4, 5]
df_test['kolumna2'] = [31, 2, 0.7, 5]

In [ ]:
grader.check("Q4")

Zaprezentowaliśmy dziś, w jaki sposób można wczytać i wykonać podstawowe operacje i wnioskowanie na zbiorze danych. Możesz wykorzystać te metody do własnych danych. W razie problemów lub wątpliwości nie wahaj się pytać :)

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()