Na początek uruchom tę komórkę, żeby przygotować autogradera:

In [ ]:
%%capture
!pip install otter-grader

files = "https://github.com/mateuszwyszynski/python_basics/raw/main/week_9/tests.zip"
!wget -O ./tests.zip $files && unzip -o tests.zip

import inspect
import otter
grader = otter.Notebook(colab = True)
!git clone https://github.com/mateuszwyszynski/python_basics.git

# **Lista &ndash; sekwencja wartości**
---
---

## Wprowadzenie

Podobnie jak w przypadku zmiennych typu string, obiekty typu list, które będziemy nazywać po prostu listami, są sekwencjami wartości i pozwalają przechowywać w sobie elementy przeróżnego typu. W przeciwieństwie do łańcuchów znaków, w których wszystkie elementy były tego samego typu. Z listami spotkaliśmy się już przy temacie poświęconym pętlom, w tym tygondniu przyjrzymy się im znacznie bliżej i poznamy ich wszystkie najużyteczniejsze własności.

Jest kilka sposobów deklarowania list. Najprostszym i najwygodniejszym jest umieszczenie obiektów, oddzielając je przecinkami, w kwadratowych nawiasach.

In [ ]:
dog_breeds = ['buldog', 'labrador', 'chihuahua', 'husky', 'akita']

Chcąc wybrać odpowiedni element z listy, musimy pamiętac, tak jak w przypadku stringów, że indeksowanie zaczyna się od 0!

| indeksy | 0 | 1 | 2 | 3 | 4 | 
| --- | --- | --- | --- | --- | --- |
| rasy | buldog | labrador | chihuahua | husky | akita |

In [ ]:
'buldog' == dog_breeds[1]

In [ ]:
'buldog' == dog_breeds[0]

---
Tak jak wspomnieliśmy, w listach możemy przechowywać obiekty różnego typu, oczywiście mogą być to też listy.

In [ ]:
different_objects = ['str', 0, 2.21, [2, 'str2']]
dog_breeds = ['buldog', ['black labrador', 'yellow labrador', 'chocolate labrador'], 'chihuahua', 'husky', 'akita']

In [ ]:
print(different_objects)
print(dog_breeds)

---
Możemy listy nadpisywać (co nie było możliwe w przypadku stringów!). W poniższym przykładzie nadpisujemy za 0 liczbę 10.

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
print(numbers)
numbers[0] = 10
print(numbers)

---
Jeżeli dysponujemy pustą listą bądź stringiem, to nie możemy odwołać się do żadnego indeksu tych obiektów, bo nie posiadają ani jednego elementu.

In [ ]:
empty = []
empty[0]

---
Pustą listę możemy zdefiniować także wykorzystując funkcję `list()`. Więcej na jej temat można znaleźć w sekcji `Dodatek` na końcu notebooka.

In [ ]:
empty = list()
empty

---
---
## Wycinki list

Skoro indeksujemy tak samo jak w przypadku stringów, możemy się domyślać, że wycinanie części stringów będzie także działało identycznie.

In [ ]:
letters = ['a', 'b', 'c', 'd', 'f', 'g', 'h', 'i']

In [ ]:
letters[:]

In [ ]:
letters[:2]

In [ ]:
letters[-3:-1]

In [ ]:
letters[2:7:2]

---
Z racji, ze przy stringach omawialiśmy tego typu operacje dokładniej, nie będziemy opisywać ich bardziej szczegółowo.

---
---
## Operatory i iteracje

Chcąc sprawdzić, czy dany element w liście występuje możemy użyć operatora `in`.

In [ ]:
'husky' in dog_breeds

In [ ]:
25 in numbers

---
Z kolei, jeżeli chcemy sprawdzić, czy dany element nie występuje w liście, użyjemy `not in`.

In [ ]:
'dalmatian' not in dog_breeds

---
Po listach możemy oczywiście iterować, chcąc wyświetlić kolejno każdy element, najwygodniej będzie użyć pętli `for`.

In [ ]:
dog_breeds = ['buldog', 'labrador', 'chihuahua', 'husky', 'akita', 'dalmatian', 'pug', 'boston terrier', 'boxer']

In [ ]:
for breed in dog_breeds:
    print(breed)

---
Możemy użyć pętli, chcąc zaktuualizować elementy w liście. Na przykład dysponując listą z cyfami, w następujący sposób możemy każdy z elementów przemnożyć przez 2:

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

In [ ]:
numbers

---
Wcześniej iterowaliśmy po elementach z listy, natomiast w powyższym przykładzie potrzebowaliśmy stworzyć sobie listę z indeksami, aby było możliwe przypiswanie innych wartości pod liczby występujące na danym miejscu. W tym celu sprawdziliśmy najpierw długość naszej listy i stworzyliśmy przedział przy użyciu funkcji `range()`, którą już wiele razy używaliśmy w kontekście iterowania.

Po elementach listy można iterować również przy użyciu *list comprehension*. Więcej na ten temat dowiesz się w sekcji `Dodatek`.

---
---
## Działania na listach

Długość listy możemy wyznaczyć przy użyciu funkcji `len()`.

In [ ]:
len(numbers)

---
Sumę liczb w liście złożonej z liczb możemy wyznaczyć przy użyciu funkcji `sum()`.

In [ ]:
sum(numbers)

---
Maximum w zbiorze przy użyciu funkcji `max()`:

In [ ]:
max(numbers)

---
Minimum przy użyciu `min()`:

In [ ]:
min(numbers)

---
Listy możemy łączyć przy uzyciu operatora `+`.

In [ ]:
a = [0, 2, 4, 6]
b = [1, 3, 5, 7]
a + b

---
Listy możemy duplikować przy użyciu operatora `*`.

In [ ]:
dog_breeds * 3

### Zadanie 1. [0 pkt]

Napisz funkcję o nazwie **mean**, której argumentem będzie obiekt typu lista. Funkcja ma wyznaczać średnią z liczb znajdujących się w liście i przybliżać ją do drugiego miejsca po przecinku. 

Wyznaczając średnią skorzystaj ze wzoru:

$$
\mu = \frac{\sum\limits_{i=1}^{N} x_i}{N},
$$

gdzie $N$ jest liczbą obserwacji, natomiast kolejne $x_i$ zaobserwowanymi wartościami. U nas $N$ będzie długością listy, która będzie miała strukturę: $[x_i,\dots,x_N]$.

**Uwaga!** W celu przybliżania średniej możesz wykorzystać funkcję **round()**. Pierwszym argumentem funkcji jest liczba, którą chcemy przybliżyć do danego miejsca, a drugim liczba miejsc po przeciunku. Na przykład wywołanie poniżej linijki:

```python
round(3.548, 2)
```

zwróci nam liczbę 3.55.

In [ ]:
# miejsce na Twoją funkcję o nazwie mean
...

In [ ]:
# Tutaj możesz testować swoje rozwiązanie

print(mean([1, 2, 3, 4])) # powinno wyjść 2.5

In [ ]:
grader.check("Q1")

### Zadanie 2. [0 pkt]

Napisz funkcję o nazwie **std_dev**, której argumentem będzie obiekt typu lista. Funkcja ma wyznaczać odchylenie standardowe z liczb znajdujących się w liście. Przy pomocy odchylenia standardowego możemy weryfikować jak bardzo liczby w danym zbiorze rozrzucone są wokół średniej z tych liczb. Odchylenie standardowe przybliżaj do 2 miejsca po przecinku.

Wyznaczając odchylenie standardowe możesz skorzystać z któregoś z poniższych równoważnych wzorów:

$$
1.\;\;\sigma = \sqrt{\frac{\sum\limits_{i=1}^{N}(x_i-\mu)^2}{N}}, \\
2.\;\;\sigma = \sqrt{\frac{\sum\limits_{i=1}^{N} x_i^2}{N}-\mu^2},
$$

gdzie $\mu$ jest średnią arytmetyczną.

**Uwaga!** W celu wyznaczenia sumy kwadratów liczb możemy użyć pętli `for` albo sposobu opisanego w sekcji `Dodatek` w `List comprehension`.

**Przykład** obliczenia odchylenia standardowego przy pomocy wzoru 2. Załóżmy, że dysponujemy ciągiem liczb: -3, -1, 0.5, 2, 4. Średnia z tych liczb wynosi 0.5, natomiast suma kwadratów kolejnych wartości wynosi:

$$
\sum\limits_{i=1}^{N} x_i^2 = (-3)^2+(-1)^2+0.5^2+2^2+4^2=30.25,
$$

a zatem nasze odchylenie będzie równe:

$$
2.\;\;\sigma = \sqrt{\frac{\sum\limits_{i=1}^{N} x_i^2}{N}-\mu^2} = \sqrt{\frac{30.25}{5}-0.5^2}\approx2.41.
$$

In [ ]:
# miejsce na twoją funkcję o nazwie std_dev
...

In [ ]:
# Tutaj możesz testować swoje rozwiązanie

print(std_dev([1, 2, 3, 4, 5])) # powinno wyjść 1.41

In [ ]:
grader.check("Q2")

---
---

## Metody obiektów będących listami

### Dodawanie nowych elementów przy użyciu metody `append()`

W celu dodania nowej rasy `golden retriever` do naszej listy `dog_breeds` możemy użyć metody `append()` w sposób następujący:

In [ ]:
dog_breeds = ['buldog', 'labrador', 'chihuahua', 'husky', 'akita', 'dalmatian', 'pug', 'boston terrier', 'boxer']

In [ ]:
dog_breeds.append('golden retriever')

---
Zweryfikujmy, czy rzeczywiście nasza lista z rasami się rozszerzyła:

In [ ]:
dog_breeds

---

### Przykład użycia

Załóżmy, że mamy listę z sekwencjami znaków, w których użyto polskich liter: `ą`, `ć`, `ę`, `ł`, `ń`, `ó`, `ś`, `ż`, `ź`. Chcemy napisać funkcję, której zadaniem jest podmienienie polskich znaków na ich łacińskie odpowiedniki. Możemy to zrobić następująco:

In [ ]:
def replace_polish_letters(list_with_strings):
    polish_characters = ['ą', 'ć', 'ę', 'ł', 'ń', 'ó', 'ś', 'ż', 'ź']
    latin_characters = ['a', 'c', 'e', 'l', 'n', 'o', 's', 'z', 'z']
    list_to_return = []
    for string in list_with_strings:
        for i in range(len(polish_characters)):
            string = string.replace(polish_characters[i], latin_characters[i])
        list_to_return.append(string)
    return list_to_return

---
Zweryfikujmy, czy powyższy kod spełnia swoją funkcję. Możesz dodawać własne przykłady. Upewnij się, że działanie tej funkcji jest dla Ciebie jasne.

*PS* W kolejnym tygodniu dowiemy się jak efektywnie w takim przypadku scalać listy typu polish_characters i latin_characters.

In [ ]:
replace_polish_letters(['łódź', 'żółć', 'gżegżółka', 'nasięźrzał'])

---
### Rozszerzanie listy przy użyciu `extend()`

Wcześniej aby rozszerzyć naszą listę użyliśmy opera `+`. Taki sam efekt możemy osiągnąć, jeżeli wykorzystamy metodę `extend()`. Lączenie poniższych list możemy przeprowadzić w taki sposób:

In [ ]:
let1 = ['c', 'e', 'k']
let2 = ['a', 'g', 'b']

In [ ]:
let1.extend(let2)

---
Zweryfikujmy, czy `let1` zostało wzbogacone o elementy `let2`:

In [ ]:
let1

---
### Sortowanie listy przy użyciu `sort()`

Posortujmy listę `let1` alfabetycznie:

In [ ]:
let1.sort()

---
Po raz kolejny nie otrzymaliśmy żadnego outputu! Jednak i tym razem zmiany w naszej liście zostały wprowadzone:

In [ ]:
let1

---
Powyższe metody działają zgodnie z podejściem nazywanym modyfikacją w miejscu. Nie tworzą nam nowego obiektu tego samego typu z obiektu będącego parametrem metody, tylko przekształcają nam ten obiekt nic nie zwracając. Gdybyśmy próbowali przypisać do `let3` wynik operacji polegającej na dodaniu litery `n` do listy `let1`, rezultat mógłby być na pierwszy rzut oka niezadowalający:

In [ ]:
let3 = let1.append('n')

In [ ]:
let3

In [ ]:
type(let3)

---
Otrzymaliśmy obiekt `NoneType`. Jednak w `let1` zmiany zaszły!

In [ ]:
let1

---
### Usuwanie elementu z listy
#### Przy użyciu `pop()`

Jeżeli znamy indeks elementu, który chcemy usunąć i chcemy ten element zapamiętać, możemy użyć metody `pop()`.

In [ ]:
letters = ['a', 'b', 'c', 'e', 'g', 'k', 'n']
x = letters.pop(2)

---
Zmienna `x` przechowuje nam usuniętą literkę, której w `letters` na miejscu o indeksie 2 już nie zobaczymy (chyba że literka o indeksie 3 była identyczna).

In [ ]:
print(x)
print(letters)

---
Jeżeli nie wpiszemy żadnego indeksu, to zostanie usunięty element ostatni.

#### Przy użyciu funkcji `del`

Jeżeli znamy indeks elementu, który chcemy usunąć, ale nie potrzebujemy go przechować, możemy użyć funcji `del` jak poniżej.

In [ ]:
letters = ['a', 'b', 'c', 'e', 'g', 'k', 'n']
del letters[2]
letters

---
Możemy w ten sposób usuwać wiele elementów jednocześnie:

In [ ]:
letters = ['a', 'b', 'c', 'e', 'g', 'k', 'n']
del letters [2:5]
letters

---
#### Przy użyciu metody `remove()`

Jeżeli znamy element, który chcemy z listy usunąć, możemy wykorzystać metodę `remove()`, która usunie pierwsze wystąpienie tego elementu i również nam niczego nie zwróci.

In [ ]:
numbers = [-1, 0.5, 1, 5, 1]
numbers.remove(1)
numbers

### Zadanie 3. [0 pkt]

$\color{red}{\text{Uwaga! Zadanie bez gradera.}}$

Napisz funkcję o nazwie `chop`, której argumentem będzie obiekt typu lista. Funkcja ma usuwać pierwszy i ostatni element listy, niczego nie zwracając, czyli ma zachowywać się dokładnie tak jak większość powyższych metod.

In [ ]:
# miejsce na twoją funkcję

In [ ]:
# Tutaj możesz testować swoje rozwiązanie

dog_breeds = ['buldog', 'labrador', 'chihuahua', 'husky', 'akita', 'dalmatian', 'pug', 'boston terrier']
chop(dog_breeds) # funkcja nie powinna niczego zwracać!

In [ ]:
# w naszej liście powinny zostać rasy: labrador, chihuahua, husky, akita, dalmatian i pug

dog_breeds

---
---
# Zadania domowe

## Zadanie 4. [2 pkt] *All time battle: Mickiewicz vs Słowacki*

Większość z nas będzie kojarzyć zaciekłą rywalizację rozgrywającą się w XIX w. między Juliuszem Słowackim i Adamem Mickiewiczem o miano największego polskiego romantyka. Chcemy podjąć próbę sforłumowania analitycznego argumentu na rzecz któregoś z nich. W tym celu przanalizujemy dwa wiersze, tzn. cały wiersz `Oda do Młodości` Mickiewicza (74 linijki tekstu) i fragment wiersza `Oda do Wolności` Słowackiego (74 linijki tekstu, oryginał posiada znacznie więcej, postanowiliśmy wziąć wycinek, aby nasza konkurencja była sprawiedliwsza). Napiszemy narzędzia, które pozwolą nam stwierdzić, który z romantyków posiadał większy zasób słownictwa, przynajmniej w kontekście zestawienia ze sobą tych dwóch konkretnych pozycji. Zadanie zostanie rozdzielone na kilka podpunktów, aby łatwiej było nam ostatecznie wyznaczyć zwycięzcę. Celem jest zweryfikowanie, ile unikatowych słów zostało użytych przez obu wieszczów w tych tekstach. Wygrywa oczywiście ten, który użył większej liczby.

---
## Zadanie 4. a) [0.5 pkt]

Napisz funkcję o nazwie *list_with_strings_cleaning*. Zakładanym parametrem funkcji jest lista z obiektami typu string. Funkcja ma na celu przeczyszczenie wszystkich łańcuchów znaków z elementów z listy: 

``` python
[':', ';', '!', '?', '.', ',', '\n', '"', '-', '*']
```

oraz sprowadzenie wszystkich liter do ich małych odpowienków. Dla przykładu, mamy listę z następującymi linijkami: 
``` python 
['Bez serc, bez ducha, to szkieletów ludy;\n', 'I wonne płoną kadzidła!\n']
```

Chcielibyśmy, żeby wywołanie linijki: 

``` python
list_with_strings_cleaning(['Bez serc, bez ducha, to szkieletów ludy;\n', 'I wonne płoną kadzidła!\n'])
```

zwróciło nam listę z następująco przekształconymi stringami:

```python
['bez serc bez ducha to szkieletów ludy', 'i wonne płoną kadzidła']
```

Poniżej przepisaliśmy listę z treści, którą możesz wykorzystać. Jeżeli nie pamiętasz dostępnych metod dla zmiennych typu string, możesz wrócić do notebooka *week 6*, możesz także wywołać linijkę: 

``` python
print(dir(str))
```

Powodzenia!

**Uwaga** Jeżeli nie masz pomysłu, jak do tego zadania podejść, to po pierwszym uruchomieniu komórki z graderem wyświetli się wskazówka.

In [ ]:
# lista z symbolami, którą możesz skopiować i odpowiednio użyć w definiowanej funkcji
[':', ';', '!', '?', '.', ',', '\n', '"', '-', '*']

In [ ]:
# miejsce na twoją funkcję o nazwie list_with_strings_cleaning
...

In [ ]:
# Tutaj możesz testować swoje rozwiązanie

print(list_with_strings_cleaning(['Bez serc, bez ducha, to szkieletów ludy;\n', 'I wonne płoną kadzidła!\n']))

In [ ]:
grader.check("Q4.a")

---
## Zadanie 4. b) [0.5 pkt]

Napisz funkcję o nazwie *list_with_strings_splitting*. Zakładanym parametrem funkcji jest lista z obiektami typu string. Funkcja ma na celu podzielenie wszystkich zdań na słowa i zapisanie tak podzielonych słów w jednej liście. Dla przykładu, mamy listę z następującymi linijkami: 

``` python 
['bez serc bez ducha to szkieletów ludy', 'i wonne płoną kadzidła']
```

Chcielibyśmy, żeby wywołanie linijki: 

``` python
list_with_strings_splitting(['bez serc bez ducha to szkieletów ludy', 'i wonne płoną kadzidła'])
```

zwróciło nam listę z następującymi łańcuchami znaków:

```python
['bez', 'serc', 'bez', 'ducha', 'to', 'szkieletów', 'ludy', 'i', 'wonne', 'płoną', 'kadzidła']
```
Powodzenia!

**Uwaga** Jeżeli nie masz pomysłu, jak do tego zadania podejść, to po pierwszym uruchomieniu komórki z graderem wyświetli się wskazówka.

In [ ]:
# miejsce na twoją funkcję o nazwie list_with_strings_splitting
...

In [ ]:
# Tutaj możesz testować swoje rozwiązanie

print(list_with_strings_splitting(['bez serc bez ducha to szkieletów ludy', 'i wonne płoną kadzidła']))

In [ ]:
grader.check("Q4.b")

---
## Zadanie 4. c) [0.5 pkt]

Napisz funkcję o nazwie *list_with_words_unique*. Zakładanym parametrem funkcji jest lista z obiektami typu string. Funkcja ma na celu wyszczególnienie unikatowych słów występujących w liście i zwrócenie ich liczby. Dla przykładu, mamy listę z następującymi słowami:

``` python 
['bez', 'serc', 'bez', 'ducha', 'to', 'szkieletów', 'ludy', 'i', 'wonne', 'płoną', 'kadzidła']
```

Chcielibyśmy, żeby wywołanie linijki: 

``` python
list_with_words_unique(['bez', 'serc', 'bez', 'ducha', 'to', 'szkieletów', 'ludy', 'i', 'wonne', 'płoną', 'kadzidła'])
```

zwróciło nam liczbę `10`, ponieważ w liście mamy 10 unikatowych słów: bez, serc, ducha, to, szkieletów, ludy, i, wonne, płoną, kadzidła. Powodzenia! 

**Uwaga** Jeżeli nie masz pomysłu, jak do tego zadania podejść, to po pierwszym uruchomieniu komórki z graderem wyświetli się wskazówka.

In [ ]:
# miejsce na twoją funkcję o nazwie list_with_words_unique
...

In [ ]:
# Tutaj możesz testować swoje rozwiązanie

print(list_with_words_unique(['bez', 'serc', 'bez', 'ducha', 'to', 'szkieletów', 'ludy', 'i', 'wonne', 'płoną', 'kadzidła']))

In [ ]:
grader.check("Q4.c")

---

Przejdziemy teraz do zweryfikowania który z wieszczów w tym przypadku wykazał się większym zasobem słownictwa. W pierwszej kolejności wywołaj poniższe okienka Pozwolą Ci wczytać oba wiersze, zapisując je w postaci list o nazwach: `mickiewicz` i `slowacki`.

In [ ]:
with open('python_basics/data/mickiewicz.txt', encoding='windows-1250') as file:
    mickiewicz = file.readlines()

In [ ]:
with open('python_basics/data/slowacki.txt', encoding='windows-1250') as file:
    slowacki = file.readlines()

---
W obu listach każdy element to kolejny wers danego wiersza.

In [ ]:
mickiewicz[:10]

---
## Zadanie 4. d) [0.5 pkt]

Napisz funkcję o nazwie **unique_number**, która zweryfikuje, jak dużo unikatowych słów zostało użytych w zaimportowanych wierszach. Argumentem funkcji powinna być lista. Zakładamy, że taka lista będzie zawierać kolejne nieprzekształcone (niewyczyszczone i podzielone) wersy jakiegoś wiersza. Funkcja powinna wykorzystać wcześniej zdefiniowane funkcje, tj. **list_with_strings_cleaning, list_with_strings_splitting, list_with_words_unique** i zwracać liczbę unikatowych słów.

Powodzenia!

**Uwaga** Jeżeli nie masz pomysłu, jak do tego zadania podejść, to po pierwszym uruchomieniu komórki z graderem wyświetli się wskazówka.

In [ ]:
# miejsce na twoją funkcję o nazwie unique_number
...

In [ ]:
grader.check("Q4.d")

---
---
# Dodatek

---
---

## Definiowanie inaczej

W celu stworzenia nowej listy, możemy wykorzystać także funkcję `list()`.

In [ ]:
dog_breeds = list(['buldog', 'labrador', 'chihuahua', 'husky', 'akita'])

---
Może się wydawać, że tylko skomplikowaliśmy sobie całą operację. Jednak funkcja ta pozwala przekształcać obiekty innego typu do listy. Wpisując obiekt konstrukcyjnie podobny do listy do nawiasu kwadratwego, sprawimy jedynie, że cały taki obiekt zostanie zapisany jako jeden element w liście.

Spójrzmy na ponizszy przykład. Mamy zapisane rasy psów do obiektu typu `tuple`. Tego rodzaju obiektów omawiać w tym kursie nie będziemy, konstrukcyjnie jest bardzo podobny do list, jednak ma kilka istotnych różnic. W tym miejscu wykorzystujemy go jedynie w celach wizualizacyjnych.

In [ ]:
dog_breeds = ('buldog', 'labrador', 'chihuahua', 'husky', 'akita')

---
Sprawdźmy typ naszego obiektu.

In [ ]:
type(dog_breeds)

---
Sprawdźmy co się stanie, gdy z tego obiektu będziemy chcieli zrobić listę przy użyciu nawiasów kwadratowych.

In [ ]:
dog_breeds_2 = [dog_breeds]

In [ ]:
dog_breeds_2

---
Widzimy, że obiekt typu tuple stał się pierwszym elementem naszej listy, jeżeli jednak wykorzystamy funkcję `list()`:

In [ ]:
dog_breeds_2 = list(dog_breeds)

In [ ]:
dog_breeds_2

In [ ]:
type(dog_breeds_2)

---
Udało się, mamy już listę, w której poszczególne elementy są tożsame z elementami z obiektu `tuple`. Funkcja `list()` może nam także rozbić string na listę, w której kolejnymi elementami będą kolejne znaki znajdujące się w łancuchu.

In [ ]:
list('labrador')

---
---

## List comprehension

W sekcji `Operatory i iteracje` pokazaliśmy w jaki sposób przy użyciu pętli `for` możemy wykonywać operacje na kolejnych elementach listy. Chcąc przemnożyć kolejne elementy razy 2, podchodziliśmy do tego w sposób następujący:

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

In [ ]:
numbers

---
W tej sytuacji mogliśmy postąpić nieco inaczej, wykorzystując specyficzną notację. Co prawda nie nadpisujemy w taki sposób za dany element listy jakiś inny, tylko tworzymy od razu całą nową listę, którą możemy ewentualnie nadpisać za modyfikowaną. Powyższy przykład moglibyśmy zapisać tak:

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[x * 2 for x in numbers]

---
Możliwe jest także rozszerzenie powyższej składni o `if-else`. Gdybyśmy chcieli liczby mniejsze od 5 przemnożyć przez 2, a liczby co najmniej równe 5 razy minus dwa, możemy postąpić tak:

In [ ]:
[x * 2 if x < 5 else x * (-2) for x in numbers]